.container {
    width: 865px;
    margin-left: auto;
    margin-right: auto;
}

.order {
  cursor: pointer;
  color: navy;
}



.order.up span:after {
   content: " ￪";
}

.order.down span:after {
   content: " ￬";
}

.btn-hide {
  display: block;
}

.short-text {
  cursor: pointer;
}
.full-text {
  display: none;
  text-align: justify;
}

.fabf-table-head {
  background-color: white;
}

.fabf-table-head tr {
  width    : 100%;
}

.fabf-navbar {
    padding: 0;
    height   : 48px;
}

.fabf-navbar nav.navbar {
    position : fixed;
    width    : 900px;
    height   : 48px;
}

.fabf-table-head-fixed {
  position : fixed;
  width    : 715px;
  height   : 37px;
  top      : 50px;
  border-bottom: 1px solid #ddd;
}

.fabf-table-head-fixed th {
  border   : none !important;
}

.fabf-row-active {
  background-color: #F5F5F5;
}