.container {
    width: 865px;
    margin-left: auto;
    margin-right: auto;
}

.order {
  cursor: pointer;
  color: navy;
}



.order.up span:after {
   content: " ￪";
}

.order.down span:after {
   content: " ￬";
}