.container {
    width: 865px;
    margin-left: auto;
    margin-right: auto;
}

.order {
  cursor: pointer;
  color: navy;
}



.order.up span:after {
   content: " ￪";
}

.order.down span:after {
   content: " ￬";
}

.btn-hide {
  display: block;
}

.short-text {
  cursor: pointer;
}
.full-text {
  display: none;
}

.fabf-table-head {
  background-color: white;
}

.fabf-table-head tr {
  width    : 100%;
}

.fabf-table-head-fixed {
  position : fixed;
  width    : 715px;
  height   : 37px;
  top      : 0;
}