
<div style="float: right; margin-left: 20px; margin-top: 30px;">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
        <button   ng-click="page=3" ng-repeat="p in pages" class="btn btn-xs {{p.active?'btn-success':'btn-default'}}" role="button" style="display: block; margin-top: 5px; min-width: 30px;">{{p.page}}</button>
    </nav>
</div>



<div class="table-responsive">
    <table class="table table-hover">
        <tr>
          <th class="order {{(order?'up':'down')}}" ng-click="order = !order"><span>Дата</span></th>
          <th>Текст</th>
          <th>Действие</th>
        </tr>
        <tr ng-repeat="text in texts | filter:query | orderBy:'date_time':order">
            <td>{{text.date_time | getDateTimeFromMySQL | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{text.text | limitTo : 255 }} ... </td>
            <td></td>
        </tr>
    </table>
</div>
