
<div style="float: left; margin-right: 100px; margin-top: 30px;">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
       <button date="{{d.date}}" ng-click="getData(1, d.date)" ng-repeat="d in dates" class="btn btn-xs {{d.class}}" style="display: block; margin-top: 5px; min-width: 74px;">{{(d.date == '*')?'Все':(d.date | getDateTimeFromMySQL | date:'dd/MM/yyyy')}}</button>
    </nav>
</div>

<div style="float: right; margin-left: 20px; margin-top: 30px;">
  <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
    <button page="{{p.page}}" ng-click="getData(p.page, date)" ng-repeat="p in pages" class="btn btn-xs {{p.class}}" role="button" style="display: {{((p.hide == true)?'none':'block')}}; margin-top: 5px; min-width: 30px;">{{p.page}}</button>
  </nav>
</div>



<div class="table-responsive">
    <table class="table table-hover" style="margin-top: 37px;">

          <tr class="fabf-table-head" style="">
            <th class="order {{(order?'up':'down')}}" ng-click="order = !order"><span>Дата</span></th>
            <th>Текст</th>
            <th>Действие</th>
          </tr>

        <tr ng-repeat="text in texts | filter:query | orderBy:'date_time':order">
            <td>{{text.date_time | getDateTimeFromMySQL | date:'dd/MM/yyyy HH:mm'}}</td>
            <td class="short-text" ng-click="showFullText($index)" index="{{$index}}">{{text.text | limitTo : 255 }} ... </td>
            <td class="full-text" index="{{$index}}" ng-click="hideFullText($index)">{{text.text}}</td>
            <td style="text-align: center;">
               <button class="btn btn-xs btn-info" style=""  ng-click="getTextStat(text.text, $index)">Статистика</button>

               <img class="ajax-loader" index="{{$index}}" ng-src="images/ajax-loader.gif" style="margin: 5px; display:none;">

               <div style="margin-top: 5px; text-align: right;">
                 <div ng-repeat="s in text.stat">
                   <span class="label label-success">{{s.word}} ({{s.count}})</span> <!--<span class="badge">{{s.count}}</span>-->
                 </div>
               </div>

            </td>
        </tr>
    </table>
</div>
